@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --def-font: 'Open Sans', sans-serif;
    --primary: #008037;
    font-family: var(--def-font);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    /* background: #FEFEE3; */
}

/***** TYPE-DEPENDENT CLASS *****/

.clickable {
    cursor: pointer;
}

/***** REVIEW CARD COMPONENT *****/

.review-card{
    width: 470px;
    background-color: #002812;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.review-card .top{
    display: flex;
    align-items: center;
    padding: 15px;
}

.review-card .profile-picture{
    width: 35px;
    border-radius: 35px;
}

.review-card .identifiers{
    margin: 0 10px 0 10px;
    flex: 1;
}

.review-card .username{
    font-size: 14px;
    font-weight: 600;
}

.review-card .restaurant{
    font-size: 12px;
}

.review-card .title{
    font-weight: bold;
    margin: 0 20px 7.5px 20px;
    /* padding: 7.5px 15px 7.5px 15px; */
}

.review-card .body{
    margin: 7.5px 20px 7.5px 20px;
    text-align: justify;
}

.review-card .read-more{
    font-size: 13px;
    opacity: 60%;
}

.review-card .buttons{
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 7.5px 15px;
}

.review-card .buttons .like-dislike {
    display: flex;
    min-width: 150px;
    max-width: 175px;
    justify-content: space-between;
}

.review-card .edit_delete{
    display: flex;
    width: 55px;
    justify-content: space-between;
}

/* CAROUSEL */
.review-card .images{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.review-card .images .img-container{
    background: "gray";
    height: 100%;
    position: relative;
}

.review-card .images .tracker{
    position: relative;
    height: 173.41px;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s;
}

.review-card .images .slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.review-card .images .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-card .images .left,
.review-card .images .right
{
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-44%);
    background: transparent;
    border: none;
    height: 80%;
}

.review-card .images .left{
    left: 0;
}

.review-card .images .right{
    right: 0;
}
/* CAROUSEL END */

.review-card .reply{
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
}

.review-card .add-reply{
    width: 390.125px;
    margin: 0 10px 0 0;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--def-font);
    color: white;
    max-height: 55px;
}

.review-card .add-reply::-webkit-scrollbar{
    width: 0px;
}

.review-card .add-reply::placeholder {
    color: white;
}

.review-card .post-reply{
    outline: none;
    border: none;
    background-color: transparent;
    color: #CFE7C3;
    font-size: 12px;
    font-family: var(--def-font);
    font-weight: 600;
    cursor: pointer;
}

/***** STORE PREVIEW CARD COMPONENT *****/

.store-prev-main {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 300px;
    background: linear-gradient(143deg, #FEF7DE 46.56%, #F8C1B4 100%);
    border-radius: 15px;
    height: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.store-prev-main .store-prev-header{
    height:200px;
    width: 100%;
    background-image: url("assets/jpg/preview5.jpg");
    background-size:cover;
    border-radius: 15px 15px 0px 0px;
}
    
.store-prev-main .store-prev-content{
    display: grid;
    padding: 25px;
    grid-template-areas: 
    "a b"
    "c b"
    "d d";
}
    
.store-prev-main .store-prev-content .store-name{
    grid-area:a;
    color: #002812;
    font-size: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
    
.store-prev-main .store-prev-content .store-location{
    grid-area: c;
    color: #002812;
    font-size: 14px;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
    
    
.store-prev-main .store-prev-content .store-flag{
    grid-area: b;
    text-align: right;
}
    
    
.store-prev-main .store-prev-content .store-description{
    grid-area: d;
    color: #002812;
    text-align: justify;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Open Sans";
    padding-top:10px;
    
}
.store-prev-main .store-prev-content .read-more{
    color: gray;
    text-align: justify;
    font-size: 8px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: "Open Sans";
    padding-top:15px; 
}

/***** RESTAURANT CARD COMPONENT *****/
.resto-card {
    display: flex;
    flex-direction: column;
    width: 445px;
    background: linear-gradient(143deg, #FEF7DE 46.56%, #F8C1B4 100%);
    border-radius: 15px;
    height: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.resto-card .resto-header{
    height: 300px;
    width: 100%;
    background-image: url("assets/jpg/preview5.jpg");
    background-size:cover;
    border-radius: 15px 15px 0px 0px;
}

.resto-card .resto-content{
    display: flex;
    padding: 20px 25px 25px 25px;
    align-items: left;
    flex-direction: column;
}

.resto-content .name-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-rating .resto-name{
    flex: 1;
    font-size: 28px;
    font-weight: bold;
}

.name-rating .rating-num{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 0 10px 0 10px;
}

.resto-content .loc-price-rev{
    display: flex;
    align-items: center;
    font-style: italic;
    margin: 7.5px 0 7.5px 0;
}

.loc-price-rev .resto-loc{
    flex: 1;
}

.loc-price-rev .resto-reviews{
    font-weight: 600;
}

.resto-card .resto-description{
    margin: 0 0 7.5px 0;
    font-size: 15px;
    text-align: justify;
}

.resto-card .resto-description .read-more{
    opacity: 60%;
    font-size: 12px
}

.resto-card .resto-images{
    display: flex;
    justify-content: space-between;
}

.resto-card .resto-images .resto-single-image{
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/********* SIGN UP & LOG IN ************/

/* .sign-up-log-in {
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 100%;
}

.sign-up-log-in .waves{
    background-color: var(--primary);
    flex-grow: 1;
    flex-shrink: 1; 
}

.sign-up-log-in .content{
    display: flex;
}

.sign-up-log-in .left {
    /* flex: 2; */
    /* padding: 7.5% 2.5%; */
    /* display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center; */
    /* min-width: 500px; */
    /*
}

.sign-up-log-in .right {
    /* flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     */
     /*
}

.sign-up-log-in .left h1 {
    font-weight: bold;
    font-size: 36px;
}

.sign-up-log-in .left .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 45px 45px;
    margin: 20px 0;
    column-gap: 5px;
    row-gap: 20px;
}

.sign-up-log-in .left input::placeholder {
    font: var(--def-font);
    font-size: 16px;
}

.sign-up-log-in .left input {
    font-family: inherit;
    padding: 10px;
    border: 2px solid #C6C6C6;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.sign-up-log-in .left .other {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.sign-up-log-in .left .button {
    font-size: 16px;
    font-weight: 600;
    grid-column: 1 / span 2;
    background-color: #BFDFB8;
    border: none !important;
    color: black;
    align-self: center;
    border-radius: 5px;
    text-decoration: none !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sign-up-log-in .left .button-inside {
    font-size: 16px;
    font-weight: 600;
    grid-column: 1 / span 2;
    background-color: #BFDFB8;
    border: none !important;
    color: black;
    align-self: center;
    border-radius: 5px;
    text-decoration: none !important;
    margin: auto;
    display: block;
    text-decoration: none !important;
    box-shadow: none !important;
}


.sign-up-log-in .left .old-new-account {
    text-align: end;
}

.sign-up-log-in .left a {
    color: var(--primary);
    text-decoration: underline;
    text-align: right;
}

.sign-up-log-in .left h2 {
    font-weight: normal;
    font-size: 32px;
} */
/* 
.sign-up-log-in {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 100vh;
}

.sign-up-log-in .waves{
    background-color: var(--primary);
    width: 10vw;
}

.sign-up-log-in .center{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.sign-up-log-in .center .right{
    flex-grow: 1;
}

.sign-up-log-in .center .right img{

} */

/* .sign-up-log-in  */

.sign-up-log-in-bg{
    background: var(--primary);
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.sign-up-log-in-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-up-log-in-content{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
}

.sign-up-log-in .grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 45px 45px 45px 45px;
    row-gap: 20px;
    column-gap: 10px;
}

.grid .other{
    grid-column: 1/span 2;
}

.grid .button{
    grid-column: 1/span 2;
}