<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Location</title>
</head>
<body class="location-card">
    <div class="top">
        <img src="assets/png/favicon.png" alt="location-pic">
    </div>
    <div class="bottom">
        <h1 class="location-name">AnimoEats</h1>
        <p class="location-desc">Hover over the map to view more details.</p>
    </div>
</body>
</html>