<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="icon" href="../public/assets/ico/favicon.ico" type="image/x-icon">
    <title>Components</title>
    <style>
        .container{
            display: flex;
        }

        .review, .store-prev, .resto-info {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <div class="review"></div>
        <div class="store-prev"></div>
        <div class="resto-info"></div>
        <div class="add-review-btn"></div>
        <div class="view-more-btn"></div>
        <div class="side-bar"></div>
        <div class="create-review"></div>
        
    </div>

    <script type="module" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="module" src="../src/index_test.js"></script>
</body>
</html>