<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAVBAR</title>
</head>
<body>
    <nav>
        <a class="left" href="index.html">
            <img src="assets/sprites/logo.png" alt="">
            <!-- <span class="ANIMO">ANIMO</span>
            <span class="EATS">EATS</span> -->
        </a>
        <div class="mid">
            <div class="search-bar">
                <img src="assets/sprites/magnifying-glass.png" alt="search">
                <input type="text" placeholder="Search">
            </div>
        </div>
        <a class="right" href="sign-up.html">
            <img src="assets/sprites/profile.png" alt="profile" class="profile">
        </a>
    </nav>
</body>
</html>