<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="review-restaurant">
        Test1
    </h2>
    <h3 class="review-subject">
        Very good food ah
    </h3>
    <div class="review-rating"></div>
    <div class="review-preview">
        <img src="assets/pics/preview1.jpg">
    </div>
    <!--<div class="review-images">
        <img src="assets/pics/preview2.jpg">
    </div>-->
    <h4 class="review-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </h4>
    <div class="review-helpful">
        <h5>Helpful</h5>
    </div>
    <div class="review-edit">
        <h5>Edit</h5>
    </div>
    <div class="review-delete">
        <h5>Delete</h5>
    </div>

    <h5 class="review-timestamp">
        Posted on July 15, 2023
    </h5>
</body>
</html>