<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="review-restaurant">
        Kuya Mel's
    </h3>
    <h4 class="review-subject">
        Will definitely come back!
    </h4>
    <div class="smaller-flag">
        <div class="review-rating">
        </div>
    </div>
    <h5 class="review-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus similique non repellendus dolore quidem. Nobis iure dolor amet voluptas nemo, quas minima hic earum voluptatem.
    </h5>
    <h6 class="review-timestamp">
        Posted on March 17, 2023
    </h6>
</body>
</html>