<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="review-card">
        <img class="profile-picture" src="\assets\jpg\profile1.jpg" alt="pp.png">
        <div class="identifiers">
            <div class="username">Monica Manlises</div>
            <div class="restaurant">Kuya Mel's</div>
        </div>
        <img class="rating" src="assets/svg/grp-flag.svg" alt="grp-flag">
        <span class="title">Title of the Post</span>
        <span class="body">Lorem Ipsum  dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ... <span class="read-more">Read more</span></span>

        <div class="helpful-buttons">
            <img class="like" src="assets/svg/like.svg"> 
            <span class="like-count">100</span> | 
            <img class="dislike" src="assets/svg/dislike.svg"> 
            <span class="dislike-count">100</span>
        </div>

        <div class="edit_delete">

        </div>

        <div class="images"></div>
        <div class="reply">
            <textarea class="add-reply" name="owners-reply" placeholder="Add a reply..."></textarea>
            <input class="post-reply" name="post-reply" type="button" value="Post">
        </div>
    </div>

    <script type="module" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        
    </script>
</body>
</html>