<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Store Preview</title>
</head>
<body>
    <div class="store-prev-main">
        <div class="store-prev-header"></div>
        <div class="store-prev-content">
            <div class="store-name">Resto Name</div>
            <div class="store-location">location</div>
            <div class="store-flag"><img src="assets/svg/ind-flag.svg" alt="single-flag"></div>
            <div class="store-description">
                <span class="main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nihil quam assumenda at, quos libero reprehenderit nostrum blanditiis cupiditate autem molestias obcaecati nobis animi quis quaerat eum maiores velit explicabo molestiae. Illo nobis velit, obcaecati ullam accusantium totam optio exercitationem at voluptatem eos atque itaque laborum animi, fugit debitis minus?</span>
                <span class="read-more clickable">Read More</span>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            // READ MORE FUNCTIONALITY
            var fullText= $(".store-description .main-text").text();
            if (fullText.length > 300) {
                var prevText = fullText.slice(0,280)+"...";
                $(".store-description .main-text").text(prevText);
                $(".store-prev-main .read-more").click(function(){
                    $(".store-description .main-text").text(fullText);
                    $(".store-prev-main .read-more").css('display', 'none');
                });
            } else {
                $(".store-prev-main .read-more").css('display', 'none');
            }
        });
    </script>
</body>
</html>