<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="restaurant">
        Kuya Mel's
    </h3>
    <h4 class="subject">
        Will definitely come back!
    </h4>
    <div class="rating"></div>
    <div class="preview">
        <img src="assets/pics/preview1.jpg">
    </div>
    <div class="images">
        <img src="assets/pics/preview2.jpg">
    </div>
    <h5 class="review-body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae nihil praesentium minima maiores optio illum tempora ea a, commodi veritatis id nobis fuga neque voluptatum quam eveniet adipisci modi corporis.
    </h5>
    <h6 class="timestamp">
        Posted on March 17, 2023
    </h6>
</body>
</html>