<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="review-restaurant"></h2>
    <h3 class="review-subject"></h3>
    <div class="review-rating"></div>
    <img class="review-preview review-pics"></img>
    <img class="review-images review-pics"></img>
    <h4 class="review-body"></h4>
    <div class="review-helpful">
        <div class="review-thumbs-up">
            <img class = "review-icon" src="assets/sprites/like-gray-hollow.png">
            <h5 class="review-helpful-count">123</h5>
        </div>
        <div class="review-thumbs-down">
            <img class = "review-icon" src="assets/sprites/like-green-hollow.png">
            <h5 class="review-unhelpful-count">12</h5>
        </div>
    </div>
    <div class="review-edit">
        
        <h5>Edit</h5>
    </div>
    <div class="review-delete">
        <h5>Delete</h5>
    </div>

    <h5 class="review-timestamp"></h5>
</body>
</html>